<div id="sidebar " class="my-5">
  <ul class="list-group">
    <li class="list-group-item"><a href="/deshboard">Dashboard</a></li>
    <li class="list-group-item"><a href="/posts/create">New Post</a></li>
    <li class="list-group-item"><a href="/posts">My Post</a></li>
    <li class="list-group-item">
      <a href="/deshboard/bookmarks">Bookmarks</a>
    </li>
    <li class="list-group-item">
      <a href="/deshboard/comments">Comments</a>
    </li>
    <li class="list-group-item">
      <a href="/deshboard/edit-profile">Edit Profile</a>
    </li>
    <li class="list-group-item">
      <a href="/auth/logout">Logout</a>
    </li>
  </ul>
</div>
